@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <summary>
       Password:
       <details><p>@ViewBag.Password</p>
           <p>@ViewBag.MySecret</p></details>
   </summary>

   <ul>#
       <li>Lukasz</li>
   </ul>
</div>
